/* navbar */
.navbar { 
    margin-bottom: 0% !important;
    font-weight: 200 !important;
    float: left;
}

nav.covid-message {
    height: 5% !important;
    background: gray;
    position: relative;
    z-index: 10;
    width: 30%;
}

nav.options-bar {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(17, 40, 73, 1) 35%, rgba(0, 212, 255, 1) 100%);
    position: relative;
    z-index: 10;
    width: 70%;
}

ul.submenu-options { 
    margin-bottom: 0% !important;
    display: flex; 
}

a.nav-link { color: #ffffff; }
ul.submenu-options li { list-style-type: none; }
div.navbar-brand { color: #ffffff; }

/* header */
.carousel .carousel-item {
    padding-bottom: 5% !important;
    position: relative;
    height: 600px !important;
}
  
div.carousel-item img {
    position: absolute;
    object-fit: cover;
    min-height: 600px !important;
    top: 0;
    left: 0;
}

a.carousel-control-btn {
    background-color: #ffffff;
    width: 5% !important;
}

span.carousel-icon { background-color: #112849; }

div.headline {
    position: absolute;
    line-height: 0.6;
    margin-top: 33%;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
}

h2.jumbo-text {
    font-family: "Bebas Neue";
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 2%;
    margin-bottom: 0;
}

p.lead span {
    background-color: white;
    text-transform: uppercase;
    font-family: "Barlow";
    color: #112849;
    font-style: bold;
    font-size: 2em;
}

/* body */
hr.separator {
    background-color: #112849;
    margin-top: 3%;
    height: 0.2vw;
    width: 10vw;
}

div.message {
    font-family: "Noto Sans TC";
    text-align: center;
    font-style: normal;
    font-size: 1.2em;
}

div.message p { font-weight: lighter; }
div.message span { font-weight: bolder; }

/* button */
div.btn-banner {
    text-align: center;
    padding-top: 5vw;
}

div.btn-banner button {
    background: url(/img/btnBanner.png) no-repeat;
    transition: box-shadow 0.3s linear;
    background-size: cover;
    margin-bottom: 0.5em;
    position: relative;
    padding: 1em 1.5em;
    cursor: pointer;
    height: 226px;
    outline: none;
    border: none;
    width: 100%;
}

div.btn-banner button::after,
div.btn-banner button::before {
    transition: all 0.9s ease;
    border-radius: 5px;
    position: absolute;
    border: 10px solid;
    display: block;
    content: "";
    height: 20%;
    width: 20%;
}

div.btn-banner button::after {
    border-left-color: transparent;
    border-bottom-color: #112849;
    border-top-color: transparent;
    border-right-color: #112849;
    bottom: 0;
    right: 0;
}

div.btn-banner button::before {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: #112849;
    border-top-color: #112849;
    left: 0;
    top: 0;
}

div.btn-banner button:hover:after,
div.btn-banner button:hover:before {
    width: 100%;
    height: 100%;
}
/* button */

div.gen-obj { padding-top: 2vw; }
div.gen-obj img {
    margin-right: 10px;
    width: 525px;
    height: 235px;
    float: left;
}

div.gen-obj p {
    text-align: justify;
    font-family: "Pontano Sans";
    font-size: 1.2em;
}

div.img-text {
    background-color: darkgray;
    margin-top: 2vw;
    padding-top: 3vw;
    height: 600px;
    width: 100%;
}

div.title {
    padding-bottom: 3vw;
    text-align: center;
    padding-top: 2vw;
}

div.title h3 { font-size: 2.5em; }
div.title p { font-size: 1.2em; }

div.title hr {
    height: 0.2vw;
    width: 30vw;
    margin-bottom: 5%;
}

section { margin-bottom: 5%; }

a.list-group-item { background-color: #ffffff }
a.list-group-item:hover { background-color: #112849; color: #ffffff; }
a.list-group-item.active { background-color: #112849 !important; color: #ffffff; }


span.square {
    background: #112849;
    float: right;
    width: 100px;
    height: 100px;
}

/* footer */
footer { background-color: #112849 !important; }
a.questions-suggestions { text-decoration: underline; }

/* modal */
div.modal-header h5 { font-size: 1.8em; }