/* general */
section { margin-bottom: 5%; }

/* navbar */
ul.submenu-options li { list-style-type: none; }
div.navbar-brand { color: #ffffff; }
a.nav-link { color: #ffffff; }

.navbar { 
    margin-bottom: 0% !important;
    font-weight: 200 !important;
    float: left;
}

nav.covid-message {
    background-image: linear-gradient(to right bottom, #787878, #787878, #787878, #787878, #787878);
    position: relative;
    z-index: 10;
    width: 30%;
}

nav.options-bar {
    background-image: linear-gradient(to right bottom, #005a87, #0c4d77, #114068, #123458, #112849);
    position: relative;
    z-index: 10;
    width: 100%;
}

ul.submenu-options { 
    margin-bottom: 0% !important;
    display: flex; 
}

/* header */
span.carousel-icon { background-color: #112849; }
.carousel .carousel-item {
    padding-bottom: 5% !important;
    height: 600px !important;
    position: relative;
}
  
div.carousel-item img {
    min-height: 600px !important;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
}

a.carousel-control-btn {
    background-color: #ffffff;
    width: 5% !important;
}

/* carousel overlay text */
div.headline {
    pointer-events: none;
    position: absolute;
    line-height: 0.6;
    margin-top: 33%;
    z-index: 10;
    right: 0;
    top: 10%;
    left: 0;
}

h2.jumbo-text {
    font-family: "Bebas Neue";
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 2%;
}

p.lead span {
    background-color: white;
    text-transform: uppercase;
    font-family: "Barlow";
    color: #112849;
    font-style: bold;
    font-size: 2em;
}

/* body */
div.message span { font-weight: bolder; }
div.message p { font-weight: lighter; }

hr.separator {
    background-color: #112849;
    margin-top: 3%;
    height: 0.2vw;
    width: 15vw;
}

div.message {
    font-family: "Noto Sans TC";
    text-align: center;
    font-style: normal;
    font-size: 1.5em;
}

/* button */
div.btn-banner { padding-top: 5vw; }
div.btn-banner button {
    background: url(/img/btnBanner.png) no-repeat;
    transition: box-shadow 0.3s linear;
    background-size: cover;
    margin-bottom: 0.5em;
    position: relative;
    padding: 1em 1.5em;
    cursor: pointer;
    height: 226px;
    outline: none;
    border: none;
    width: 100%;
}

div.btn-banner button::after,
div.btn-banner button::before {
    transition: all 0.9s ease;
    border-radius: 5px;
    position: absolute;
    border: 10px solid;
    display: block;
    content: "";
    height: 20%;
    width: 20%;
}

div.btn-banner button::after {
    border-left-color: transparent;
    border-bottom-color: #112849;
    border-top-color: transparent;
    border-right-color: #112849;
    bottom: 0;
    right: 0;
}

div.btn-banner button::before {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: #112849;
    border-top-color: #112849;
    left: 0;
    top: 0;
}

div.btn-banner button:hover:after,
div.btn-banner button:hover:before {
    width: 100%;
    height: 100%;
}

/* career information */
li.page-item { background-color: #ffffff;}

div.restrain {
    margin-top: 5%;
    padding-right: 4%;
    padding-left: 4%;
}

p.col-text {
    font-family: "Barlow";
    text-align: justify;
    font-size: 1.2em;
    padding-top: 20%;
}

div.selection .nav-link.active { background-color: #41AEE5; }
div.selection li {
    font-family: "Pontano Sans";
    background-color: #112849;
}

div.img-background {
    background-image: url("/img/esmepw.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    padding-top: 3vw;
    margin-top: 5%;
    height: 600px;
    width: 100%;
}

div.container li {
    font-family: "Pontano Sans";
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.2em;
}

/* campo laboral*/
div.title h3 { font-size: 2.5em; }
div.title p { font-size: 1.2em; }

div.title {
    padding-bottom: 3vw;
    text-align: center;
    padding-top: 2vw;
}

div.title hr {
    margin-bottom: 5%;
    height: 0.2vw;
    width: 30vw;
}

/* faq */
a.list-group-item.active { background-color: #112849 !important; color: #ffffff; }
a.list-group-item:hover { background-color: #112849; color: #ffffff; }
a.list-group-item { background-color: #ffffff }

p.job-text {
    font-family: "Pontano Sans";
    text-align: justify;
}

ul.faq-list li {
    color: #030303;
    text-align: left;
}

/* footer */
footer.page-footer a { text-decoration: underline; }
footer { background-color: #112849 !important; }

/* modal */
div.modal-body .modal-text-center { text-align: center; }
div.modal-header h5 { font-size: 1.8em; }
div.modal-body p { margin-bottom: 5%; }
div.close-btn { margin-top: 1%; }
.info-underline { text-decoration: underline; }

div.close-btn button {
    background-color: #ffffff;
    border-radius: 20%;
    height: 2em;
    width: 2em;
}

button.close span {
    width: 2em;
    height: 2em;
}

div.modal-body {
    position: relative;
    z-index: 3;
}

div.image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}

div.image img {
    height: 400px;
    width: 400px;
}